# .env.example file

# Database configuration
DB_USER=your_user_here
DB_PASSWORD=your_pass_here
DB_NAME=your_db_name_here
DB_HOST=localhost
DB_PORT=5432
DB_URL=postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:5432/${DB_NAME}?sslmode=disable

# JWT configuration
JWT_SECRET=your_jwt_secret_here
JWT_ACCESS_TOKEN_TTL=3600 # in seconds